<body class="text-center">
  <form class="form-signin">
    <h2>CarFo account registration</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="h3 mb-3 font-weight-normal">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      
      <div class="h3 mb-3 font-weight-normal">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>


      <div class="h3 mb-3 font-weight-normal">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="h3 mb-3 font-weight-normal">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="btn btn-lg btn-primary btn-block">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    <div><%= link_to 'Back', posts_path %></div>
  </form>
</body>