<title>Sign-in</title>
<body class="text-center">
  <h2>Log in to your CarFo account!</h2>
  <%= image_tag "small-car.jpg", width: 250, alt:"small black car" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="h3 mb-3 font-weight-normal">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="h3 mb-3 font-weight-normal">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  <div><%= link_to 'Back to homepage', posts_path %></div>
</body>