<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="h4 mb-3 font-weight-normal">
    <%= form.label :make %>
    <%= form.text_field :make, autofocus: true %>
  </div>

  <div class="h4 mb-3 font-weight-normal">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="h4 mb-3 font-weight-normal">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="h4 mb-3 font-weight-normal">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>