<div class="col-md-4">
  <p><%= post.title %></p>
  <p><%= post.body %></p>
  <p><%= post.date %></p>
  <p><%= link_to 'Show', post %></p>
  <p><%= link_to 'Edit', edit_post_path(post) %></p>
  <p><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?' } %></p>
</div>