<h1>Welcome back  <%= current_user.first_name if current_user %>!</h1>
<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up for a new CarFo account", new_user_registration_path %>
  <%= link_to "CarFo login", new_user_session_path %>
<% end %>
<% if current_user %>
  <%= link_to "Edit CarFo account profile", edit_user_registration_path %>
  <% else %>
  <% false %>
<% end %>