<%= render 'sign_in' %>

<h1>Vehicle Search</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'search' %>
    <%= render @posts %>
  </tbody>
</table>
  
<%= render 'current_user_permission' %>

<%= video_tag(
      "cars.mp4",
      id: "background",
      autoplay: true,
      loop: true,
      muted: true,
      poster: ""
)
%>

<br>
